<div class="container">
  <div class="section">
    <div class="row">
      <div class="col s12 m4 l4">
        <div class="icon-block">
          <div class="card small indigo lighten-5">
            <h2 class="center brown-text"><i class="material-icons">flash_on</i></h2>
            <div class="center">
              <h5 class="card-title">Resume</h5>
              <div class="card-content">
                <p class="light">Love what you see in my website and want to know more. Feel free to download my full resume</p>
              </div>
              <div class="card-action">
                <%= link_to "Download Cv", 'https://www.dropbox.com/s/3d1jjbt33by5zrm/CV2016.pdf?dl=0', class: "waves-effect waves-light btn indigo " %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col s12 m4 l4">
        <div class="icon-block">
          <div class="card small indigo lighten-5">
            <h2 class="center brown-text"><i class="material-icons">group</i></h2>
            <div class="center">
              <h5 class="card-title">Projects</h5>
              <div class="card-content">
                <p class="light">A shortlist of some of the most interesting projects I am currently working on. Feel free to ask me any questions on them</p>
              </div>
                <div class="card-action">
              <%= link_to "Vew my projects", '#projects', class: "waves-effect waves-light btn indigo" %>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="col s12 m4 l4">
        <div class="icon-block">
          <div class="card small indigo lighten-5">
            <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
            <div class="center">
              <h5 class="card-title">Blog</h5>
              <div class="card-content">
                <p class="light">I got a lot to say! Checkout my blog</p>
              </div>
              <div class="card-action">
                <%= link_to 'Coming soon..', '', class: "waves-effect waves-light btn indigo " %>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

