<a class="waves-effect waves-light btn blue" href="https://www.facebook.com/faethonm">Facebook</a>
<a class="waves-effect waves-light btn teal" href="https://www.linkedin.com/in/faethonmilikouris
">LinkedIn</a>
<a class="waves-effect waves-light btn blue lighten-2" href="https://twitter.com/faethonm">Twitter</a>
<a class="waves-effect waves-light btn grey" href="https://github.com/faethonm">Github</a>
