<a class="waves-effect waves-light btn blue">Facebook</a>
<a class="waves-effect waves-light btn teal">LinkedIn</a>
<a class="waves-effect waves-light btn blue lighten-2">Twitter</a>
<a class="waves-effect waves-light btn grey">Github</a>
