<footer class="page-footer orange">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Who am I?</h5>
          <p class="grey-text text-lighten-4">I am currently working as Software Engineer at LoopUp in San Francisco. As a software engineer, I mostly code in Ruby on Rails and Javascript but I also have extensive in Java and Python.</p>


        </div>
        <div class="col l3 s12">
        <div class="col l3 s12">
          <h5 class="white-text">Connect</h5>
          <ul>
            <li><a class="white-text" href="https://www.facebook.com/faethonm">Facebook</a></li>
            <li><a class="white-text" href="https://www.linkedin.com/in/faethonmilikouris">LinkedIn</a></li>
            <li><a class="white-text" href="https://github.com/faethonm">Github</a></li>
            <li><a class="white-text" href="https://twitter.com/faethonm">Twitter</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
      </div>
    </div>
  </footer>
